@page "/registry"
@implements IDisposable
@using System.Linq
@using System.Collections.Generic

<PageTitle>Регистратура</PageTitle>
<Div Position="Position.Relative">
    <Div Position="Position.Absolute.Top.Is0.Start.Is50.Translate.MiddleX">
        <Steps @ref="stepsRef" @bind-SelectedStep="selectedStep" NavigationAllowed="NavigationAllowed">
            <Content>
                <StepPanel Name="1">
                    <Field>
                        <FieldLabel>Текущий осужденный</FieldLabel>
                        <TextEdit Text="@(AkusConnect.Names.Where(p => p.Itemperson == "!!!D¦­s5a").First().GetFullName())" Disabled>
                            <FieldHelp>Выбор осужденного производится в поле поиска вверху страницы.</FieldHelp>
                        </TextEdit>
                    </Field>
                </StepPanel>
                <StepPanel Name="2">
                    <Field>
                        <FieldLabel>Выберите куда хотите записаться</FieldLabel>
                        <Select @bind-SelectedValue="@selectedType">
                            <SelectItem Value="1">К терапевту</SelectItem>
                            <SelectItem Value="2">К стоматологу</SelectItem>
                            <SelectItem Value="3">На прием к начальнику МСЧ</SelectItem>
                            <SelectItem Value="4">На прием к начальнику ФКУ ИК-18</SelectItem>
                        </Select>
                            <FieldHelp>Необходимо выбрать к кому вы хотите записаться на прием.</FieldHelp>
                    </Field>
                </StepPanel>
                <StepPanel Name="3">
                    <Field>
                        <FieldLabel>Выберите дату</FieldLabel>
                        <DatePicker TValue="DateTime?" DisabledDates="@disabledDates" />
                        <FieldHelp>Необходимо выбрать дату когда вы хотите записаться на прием.</FieldHelp>
                    </Field>
                </StepPanel>
                <StepPanel Name="4">
                    <Field>
                        <FieldLabel>Все готово</FieldLabel>
                        <Button Color="Color.Success" >Записаться</Button><br />
                        <FieldHelp>Осталось лишь нажать на кнопку.</FieldHelp>
                    </Field>
                </StepPanel>
            </Content>
            <Items>
                <Step Name="1">Кто</Step>
                <Step Name="2">Куда</Step>
                <Step Name="3">Дата</Step>
                <Step Name="4">Готово</Step>
            </Items>
        </Steps>
        <Div Display="Display.Flex" Class="justify-content-center">
            <Button Color="Color.Secondary" Margin="Margin.Is2.FromEnd" Clicked="() => stepsRef.PreviousStep()" Disabled="@(selectedStep == "1")">
                Назад
            </Button>
            <Button Color="Color.Primary" Clicked="() => stepsRef.NextStep()" Disabled="@(selectedStep == "4")">
                Далее
            </Button>
        </Div>
    </Div>
</Div>


@code {

    private Steps stepsRef;
    private int selectedType;
    private string selectedStep = "1";

    private bool NavigationAllowed(StepNavigationContext context)
    {
        if (context.CurrentStepIndex == 2 && selectedType < 0) //!ValidationRule.IsEmail(email)
        {
            return false;
        }

        return true;
    }

    DateTime?[] disabledDates = new DateTime?[] {
        DateTime.Now.AddDays(-1),
        DateTime.Now.AddDays(2),
    };

    public void Dispose()
    {

    }
}
