@inject BrowserService Service

<Table Hoverable FixedHeader FixedHeaderTableHeight="@tableSize" FixedHeaderTableMaxHeight="@tableSize">
    <TableHeader ThemeContrast="ThemeContrast.Light">
        <TableRow>
            <TableHeaderCell>#</TableHeaderCell>
            <TableHeaderCell>Дата</TableHeaderCell>
            <TableHeaderCell>Тип письма</TableHeaderCell>
            <TableHeaderCell>Количество</TableHeaderCell>
            <AuthorizeView>
                <TableHeaderCell>Кому/От кого</TableHeaderCell>
                <TableHeaderCell>Куда/Откуда</TableHeaderCell>
            </AuthorizeView>
        </TableRow>
    </TableHeader>
    <TableBody>
        @for (int i = 0; i < LetterInfo?.Count; i++)
        {
            var index = isReverse ? (LetterInfo.Count - i).ToString() : (i + 1).ToString();
            var letterItem = LetterInfo[i];
            <TableRow @key="@index">
                <TableRowHeader>@index</TableRowHeader>
                <TableRowCell>@letterItem.Date</TableRowCell>
                <TableRowCell>@letterItem.Type</TableRowCell>
                <TableRowCell>@letterItem.Count</TableRowCell>
                <AuthorizeView>
                    <TableRowCell>@letterItem.ToWhom</TableRowCell>
                    <TableRowCell>@letterItem.Where</TableRowCell>
                </AuthorizeView>
            </TableRow>
        }
    </TableBody>
</Table>
<Footer OnCheckCallback="s => { LetterInfo?.Reverse(); isReverse = s; }" Text="@("Всего элементов: " + LetterInfo?.Count)" />

@code {
    [Parameter] public List<LetterItem>? LetterInfo { get; set; }

    private BrowserDimension size { get; set; }
    private string tableSize { get; set; }

    protected override async Task OnInitializedAsync()
    {
        size = await Service.GetDimensions();
        tableSize = (size.Height - 250).ToString() + "px";
    }

    private bool isReverse = false;
}