<CardItem Title="Родственники в личном деле">
    <Table Hoverable>
        <TableHeader ThemeContrast="ThemeContrast.Light">
            <TableRow>
                <TableHeaderCell>#</TableHeaderCell>
                <TableHeaderCell>Степень родства</TableHeaderCell>
                <TableHeaderCell>Фамилия</TableHeaderCell>
                <TableHeaderCell>Имя</TableHeaderCell>
                <TableHeaderCell>Отчество</TableHeaderCell>
                <TableHeaderCell>Дата рождения</TableHeaderCell>
                <TableHeaderCell>Место жительства</TableHeaderCell>
            </TableRow>
        </TableHeader>
        <TableBody>
            @for (int i = 0; i < RelativeInfo?.Count; ++i)
            {
                var index = (i + 1).ToString();
                var relativeItem = RelativeInfo[i];
                <TableRow @key="@index">
                    <TableRowHeader>@index</TableRowHeader>
                    <TableRowCell>@relativeItem.Relation</TableRowCell>
                    <TableRowCell>@relativeItem.Surname</TableRowCell>
                    <TableRowCell>@relativeItem.Name</TableRowCell>
                    <TableRowCell>@relativeItem.Lastname</TableRowCell>
                    <TableRowCell>@relativeItem.Birthday</TableRowCell>
                    <TableRowCell>@relativeItem.PlaceOfRegistration</TableRowCell>
                </TableRow>
            }
        </TableBody>
    </Table>
</CardItem>

@code {
    [Parameter] public List<RelativeItem>? RelativeInfo { get; set; }
}