@inject BrowserService Service

<CardItem Title="Родственники в личном деле">
    <Table Hoverable FixedHeader FixedHeaderTableHeight="@tableSize" FixedHeaderTableMaxHeight="@tableSize">
        <TableHeader ThemeContrast="ThemeContrast.Light">
            <TableRow>
                <TableHeaderCell>#</TableHeaderCell>
                <TableHeaderCell>Степень родства</TableHeaderCell>
                <TableHeaderCell>Фамилия</TableHeaderCell>
                <TableHeaderCell>Имя</TableHeaderCell>
                <TableHeaderCell>Отчество</TableHeaderCell>
                <TableHeaderCell>Дата рождения</TableHeaderCell>
                <TableHeaderCell>Место жительства</TableHeaderCell>
            </TableRow>
        </TableHeader>
        <TableBody>
            @for (int i = 0; i < RelativeInfo?.Count; ++i)
            {
                var index = isReverse ? (RelativeInfo.Count - i).ToString() : (i + 1).ToString();
                var relativeItem = RelativeInfo[i];
                <TableRow @key="@index">
                    <TableRowHeader>@index</TableRowHeader>
                    <TableRowCell>@relativeItem.Relation</TableRowCell>
                    <TableRowCell>@relativeItem.Surname</TableRowCell>
                    <TableRowCell>@relativeItem.Name</TableRowCell>
                    <TableRowCell>@relativeItem.Lastname</TableRowCell>
                    <TableRowCell>@relativeItem.Birthday</TableRowCell>
                    <TableRowCell>@relativeItem.PlaceOfRegistration</TableRowCell>
                </TableRow>
            }
        </TableBody>
    </Table>
    <Footer OnCheckCallback="s => { RelativeInfo?.Reverse(); isReverse = s; }" Text="@("Всего элементов: " + RelativeInfo?.Count)" />
</CardItem>

@code {
    [Parameter] public List<RelativeItem>? RelativeInfo { get; set; }

    private BrowserDimension? size { get; set; }
    private string? tableSize { get; set; }

    protected override async Task OnInitializedAsync()
    {
        size = await Service.GetDimensions();
        tableSize = (size.Height - 250).ToString() + "px";
    }

    private bool isReverse = false;
}