<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <h3>У вас нет полномочий для просмотра этой страницы.</h3>
                    <p>Авторизируйтесь, либо перейдите на другую страницу.</p>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Простите пожалуйста, не могу найти введенный адрес.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
