@inject AppData appData
@inject NavigationManager navigation
@inject DataRepo repo;
@inherits Report

@using wSHSApp.Reports.DisciplineReport.Data;

<Modal @ref="modal" Closing="(t) => Rep!.RemoveReport()" >
    <ModalContent Centered Size="ModalSize.Large">
        <ModalHeader>
            <ModalTitle>@Rep?.Name</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Field>
                @if (string.IsNullOrEmpty(reportDocument) && !isLoading)
                {
                    <Fields>
                        <Field>
                            <FieldLabel>Дата нарушения</FieldLabel>
                            <FieldBody>
                                <DatePicker TValue="DateTime?" DisplayFormat="dd.MM.Y" DateChanged="@(v => date = v)" Date="@date" />
                            </FieldBody>
                        </Field>
                        <Field>
                            <FieldLabel>Часы</FieldLabel>
                            <NumericPicker TValue="int" Value="@hours" ValueChanged="@(v => { if (v > 23) hours = rejectHours = v = 23; else hours = rejectHours = v; if (v < 0) hours = rejectHours = v = 0; else hours = rejectHours = v;})" />
                        </Field>
                        <Field>
                            <FieldLabel>Минуты</FieldLabel>
                            <NumericPicker TValue="int" Value="@minutes" ValueChanged="@(v => { if (v > 59) minutes = rejectMinutes = v = 59; else minutes = rejectMinutes = v; if (v < 0) minutes = rejectMinutes = v = 0; else minutes = rejectMinutes = v;})" />
                        </Field>
                        <Field>
                            <FieldLabel>Камера ШИЗО</FieldLabel>
                            <NumericPicker @bind-Value="@isolationCell" Disabled="!isolationCellState" />
                        </Field>
                    </Fields>
                    <Fields>
                        <Field>
                            <FieldLabel>Тип фиксации</FieldLabel>
                            <FieldBody>
                                <Select TValue="int" SelectedValue="@typeFixation" SelectedValueChanged="TypeFixationChanged">
                                    <SelectItem Value="1">Видеорегистратор</SelectItem>
                                    <SelectItem Value="2">Видеокамера ПВК</SelectItem>
                                    <SelectItem Value="3">Рапорт сотрудника</SelectItem>
                                </Select>
                            </FieldBody>
                        </Field>
                        <Field>
                            <FieldLabel>Регистратор</FieldLabel>
                            <NumericPicker TValue="int" Value="@videoReg" ValueChanged="@(v => videoReg = rejectVideoReg = v)" Disabled="!videoRegState" />
                        </Field>
                        <Field>
                            <FieldLabel>Видеокамера</FieldLabel>
                            <NumericPicker @bind-Value="@videoCam" Disabled="!videoCamState"/>
                        </Field>
                        <Field>
                            <FieldLabel>Монитор</FieldLabel>
                            <NumericPicker @bind-Value="@videoMon" Disabled="!videoMonState" />
                        </Field>                        
                    </Fields>
                    <Fields>
                        <Field>
                            <FieldLabel>Нарушение</FieldLabel>
                            <FieldBody>
                                <Select TValue="int" SelectedValue="@violationId" SelectedValueChanged="@((v) => {violationId = v;})" >
                                    @foreach (var vi in repo.Violations!)
                                    {
                                        <SelectItem Value="@vi.Id">@vi.Name</SelectItem>
                                    }
                                </Select>
                            </FieldBody>
                        </Field>
                        <Field>
                            <FieldLabel>Место нарушения</FieldLabel>
                            <FieldBody>
                                <Select TValue="int" SelectedValue="@placeID" SelectedValueChanged="@((v) => {placeID = rejectPlaceId = v;})" >
                                    @foreach (var pi in repo.Places!)
                                    {
                                        <SelectItem Value="@pi.Id">@pi.Name</SelectItem>
                                    }
                                </Select>
                            </FieldBody>
                        </Field>
                        <Field>
                            <FieldLabel>ДПНУ</FieldLabel>
                            <FieldBody>
                                <Select TValue="int" SelectedValue="@dpnuId" SelectedValueChanged="@((v) => {dpnuId = employee3 = v;})" >
                                    @foreach (var di in repo.GetDPNUs()?.OrderBy(e => e.ShortName)!)
                                    {
                                        <SelectItem Value="@di.Id">@di.ShortName</SelectItem>
                                    }
                                </Select>
                            </FieldBody>
                        </Field>
                    </Fields>
                    <Fields Label="Отказ от объяснения">
                        <Field>
                            <FieldLabel>Место отказа</FieldLabel>
                            <FieldBody>
                                <Select TValue="int" SelectedValue="@rejectPlaceId" SelectedValueChanged="@((v) => {rejectPlaceId = v;})">
                                    @foreach (var pi in repo.Places!)
                                    {
                                        <SelectItem Value="@pi.Id">@pi.Name</SelectItem>
                                    }
                                </Select>
                            </FieldBody>
                        </Field>
                        <Field>
                            <FieldLabel>Регистратор</FieldLabel>
                            <NumericPicker @bind-Value="@rejectVideoReg" />
                        </Field>
                        <Field>
                            <FieldLabel>Часы</FieldLabel>
                            <NumericPicker TValue="int" Value="@rejectHours" ValueChanged="@(v => { if (v > 23) rejectHours = v = 23; else rejectHours = v; if (v < 0) rejectHours = v = 0; else rejectHours = v;})" />
                        </Field>
                        <Field>
                            <FieldLabel>Минуты</FieldLabel>
                            <NumericPicker TValue="int" Value="@rejectMinutes" ValueChanged="@(v => { if (v > 59) rejectMinutes = v = 59; else rejectMinutes = v; if (v < 0) rejectMinutes = v = 0; else rejectMinutes = v;})" />
                        </Field>
                    </Fields>
                    <Fields Label="Участвующие сотрудники">
                        <Field>
                            <FieldBody>
                                <Select TValue="int" SelectedValue="@employee1" SelectedValueChanged="@((v) => {employee1 = v;})" >
                                    @foreach (var e in repo.Personal?.OrderBy(e => e.DepartmentId).ThenBy(e => e.ShortName)!)
                                    {
                                        <SelectItem Value="@e.Id">@($"{e.ShortName} - {e.Position?.ShortName}")</SelectItem>
                                    }
                                </Select>
                            </FieldBody>
                        </Field>
                        <Field>
                            <FieldBody>
                                <Select TValue="int" SelectedValue="@employee2" SelectedValueChanged="@((v) => {employee2 = v;})">
                                    @foreach (var e in repo.Personal?.OrderBy(e => e.DepartmentId).ThenBy(e => e.ShortName)!)
                                    {
                                        <SelectItem Value="@e.Id">@($"{e.ShortName} - {e.Position?.ShortName}")</SelectItem>
                                    }
                                </Select>
                            </FieldBody>
                        </Field>
                        <Field>
                            <FieldBody>
                                <Select TValue="int" SelectedValue="@employee3" SelectedValueChanged="@((v) => {employee3 = v;})">
                                    @foreach (var e in repo.Personal?.OrderBy(e => e.DepartmentId).ThenBy(e => e.ShortName)!)
                                    {
                                        <SelectItem Value="@e.Id">@($"{e.ShortName} - {e.Position?.ShortName}")</SelectItem>
                                    }
                                </Select>
                            </FieldBody>
                        </Field>
                    </Fields>
                }
                else if (string.IsNullOrEmpty(reportDocument) && isLoading)
                {
                    <SpinKit Type="SpinKitType.Chase" Color="#318cbc" Size="40px" Centered />
                    <center style="font-size:xx-small; font-style:italic">@Rep?.Author</center>
                }
                else if (!string.IsNullOrEmpty(reportDocument))
                {
                    <center>
                        Запрашиваемый документ сформирован
                        <Button Color="Color.Success" Clicked="@(() => navigation?.NavigateTo(reportDocument, forceLoad: true))">Скачать</Button>
                    </center>
                }
            </Field>
        </ModalBody>
        <ModalFooter>
            <Select Disabled="isLoading" Style="width:auto; margin-right:auto;" TValue="int" SelectedValue="@headId" SelectedValueChanged="@((v) => {headId = v;})">
                @foreach (var e in repo?.Personal?.Where(i => i.PositionId > 20 && i.PositionId < 24).OrderByDescending(i => i.PositionId).ThenBy(i => i.ShortName)!)
                {
                    <SelectItem Value="@e.Id">@($"{e.ShortName} - {e.Position?.ShortName}")</SelectItem>
                }
            </Select>
            <Button Disabled="isLoading" Color="Color.Secondary" Clicked="@(() => CloseClick(modal))">Закрыть</Button>
            <Button Disabled="isLoading" Color="Color.Primary" Clicked="@ReportClick">Сформировать</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@code {
    [Parameter] public IReport? Rep { set; get; }

    DateTime? date = DateTime.Today;
    int hours = DateTime.Now.Hour;
    int minutes = DateTime.Now.Minute;
    int typeFixation = 1;
    int videoReg = 14;
    int videoCam = 1;
    int videoMon = 2;
    int isolationCell = 6;
    bool videoRegState = true;
    bool videoCamState = false;
    bool videoMonState = false;
    bool isolationCellState = false;
    int violationId = 1;
    int placeID = 1;
    int dpnuId = 1;
    int rejectPlaceId = 1;
    int rejectVideoReg = 14;
    int rejectHours = DateTime.Now.Hour;
    int rejectMinutes = DateTime.Now.Minute;
    int employee1 = 1;
    int employee2 = 2;
    int employee3 = 3;
    int headId = 1;

    protected bool isLoading;

    protected Modal? modal;

    protected List<string>? args;

    protected string? reportDocument;

    protected async Task ReportClick()
    {
        args = new();
        args?.Add(appData.CurrentItemperson!); //0
        args?.Add(typeFixation == 3 ? "discipline2.cs.docx" : "discipline1.cs.docx"); //1
        args?.Add(date?.ToString("«dd» MMMM yyyy")!); //2
        args?.Add(hours.ToString().PadLeft(2, '0')); //3
        args?.Add(minutes.ToString().PadLeft(2, '0')); //4
        args?.Add(typeFixation.ToString()); //5
        args?.Add(videoReg.ToString()); //6
        args?.Add(videoCam.ToString()); //7
        args?.Add(videoMon.ToString()); //8
        args?.Add(isolationCell.ToString()); //9
        args?.Add(violationId.ToString()); //10
        args?.Add(placeID.ToString()); //11
        args?.Add(dpnuId.ToString()); //12
        args?.Add(rejectPlaceId.ToString()); //13
        args?.Add(rejectVideoReg.ToString()); //14
        args?.Add(rejectHours.ToString().PadLeft(2, '0')); //15
        args?.Add(rejectMinutes.ToString().PadLeft(2, '0')); //16
        args?.Add(employee1.ToString()); //17
        args?.Add(employee2.ToString()); //18
        args?.Add(employee3.ToString()); //19
        args?.Add(headId.ToString()); //20
        isLoading = true;
        reportDocument = null;
        StateHasChanged();
        reportDocument = await Rep!.EntryPoint(args!.ToArray());
        isLoading = false;
        StateHasChanged();
    }

    protected async void CloseClick(Modal? modal)
    {
        await Rep!.RemoveReport();
        modal?.Hide();
    }

    public override void Show()
    {
        reportDocument = null;
        dpnuId = repo?.GetDPNUs()?.OrderBy(i => i.ShortName).FirstOrDefault()?.Id! ?? 0;
        employee3 = dpnuId == 0 ? 3 : dpnuId;
        headId = repo?.Personal?.Where(i => i.PositionId > 20 && i.PositionId < 24).OrderByDescending(i => i.PositionId).ThenBy(i => i.ShortName).FirstOrDefault()?.Id ?? 0;
        modal?.Show();        
    }

    private void TypeFixationChanged(int v)
    {
        typeFixation = v;
        if (v == 1) { videoRegState = true; videoCamState = false; videoMonState = false; }
        else if (v == 2) { videoRegState = false; videoCamState = true; videoMonState = true; }
        else if (v == 3) { videoRegState = false; videoCamState = false; videoMonState = false; }
    }

}